<ion-view title="About">
  <ion-content class="has-header padding" style="background-color:#ccefde;">
      <div class="card" style="opacity:0.8;">
  <div class="item item-text-wrap" style="text-align:center;">
    <h2>Travel beyond the vegetarian restaurant</h2>
    <p>VeggieSetGo is where veggie lovers and omnivores can find restaurants to dine out together – anywhere.</p>
  </div>
</div>

      <div class="card" style="opacity:0.8;">
  <div class="item item-text-wrap" style="text-align:center;">
    <h2>Introducing the Artichoke Rating</h2>
    <img src="img/about/artichoke.png">
    <p>The artichoke rating shows how vegetarian-friendly a restaurant is on a scale of 1 (1-2 veggie dishes) to 5 (plenty of veggie options to choose from). Restaurants that are completely vegetarian aren't given an artichoke rating – you'll see them marked with this "100% Vegetarian" badge:</p>
    <img src="img/artichokes/artichoke-100.png">
  </div>
</div>

      <div class="card" style="background-color:rgba(255,255,255,0.8) !important;">
        <div class="item item-text-wrap" style="text-align:center; background-color:transparent;">
              <h2>Visit VeggieSetGo on:</h2>
    <a onclick="window.open('http://www.veggiesetgo.com', '_system', 'location=yes');" style="text-decoration:none;"><button class="button button-block button-balanced">
  <p style="color:white !important;"><strong>www.veggiesetgo.com</strong></p>
</button></a>
<div class="row" style="margin-top:-15px;">
  <div class="col">    <a href="fb://profile/107581125991258"><button class="button button-block button-positive">
  <i class="ion-social-facebook" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>

  <div class="col">    <a href="twitter://user?screen_name=veggiesetgo"><button class="button button-block button-calm">
  <i class="ion-social-twitter" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>

  <div class="col">    <a href="instagram://user?username=veggie_set_go"><button class="button button-block button-dark">
  <i class="ion-social-instagram-outline" style="color:#fff; font-size:24px; padding-top:10px;"></i>
</button></a></div>          
        </div>
      </div>
  </ion-content>
</ion-view>